version: '3.8'
services:
  backend:
    volumes:
      - ./backend:/app
    command: npx nodemon server.js
    environment:
      - NODE_ENV=development
    ports:
      - "3001:3001"
  frontend:
    volumes:
      - ./frontend:/app
    command: npm run dev
    environment:
      - NODE_ENV=development
    ports:
      - "5173:5173"
